# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Secrets - DO NOT COMMIT
src/config.py

# Database file
data/shipping_quotes.db

# Utility
import_data.py

# Distribution / packaging
dist/
build/
*.spec

# IDE / Editor folders
.vscode/
.idea/

# Electron files
node_modules/

# macOS files
.DS_Store
